body{
    margin: 0;
    padding: 0;
    background-color: #b6aeae;
}

section.start{
    display: flex;
    justify-content: space-around;
}   

img{
    width: 250px;
    height: 250px;
    margin: 100px 35px 35px 35px;



}



main{
width: 80%;
margin: auto;
}

h1{
    font-size: 150px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

}

section.elementy{
    padding: 40px;
    border: 50px solid rgb(0, 0, 0);    
    margin: 20px 5px 2px 5px;
}

.flexbox{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color:rgb(0, 0, 0)
}