body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

section.start{
    display: flex;
    justify-content: space-around;
}   

.logo{
    width: 250px;
    height: 230px;
    margin: 100px 35px 35px 35px;



}



main{
width: 80%;
margin: auto;
}

h1{
    font-size: 150px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
h2{
    margin: -150px 50px 1px 20px;
    font-family:'Times New Roman', Times, serif;
}

section.elementy{
    padding: 15px;
    border: 15px solid rgb(0, 0, 0);    
    margin: 2px 5px 2px 5px;
    font-size: 22px;
}
span{
    font-size: 30px;
    color:rgb(141, 30, 52);

}
.zdj1{
    width: 900px;
    height: 600px;
    margin: 100px 35px 35px 35px;
}
.zdj2{
    width: 400px;
    height: 600px;
    margin: 100px 35px 35px 35px;
}
.zdj3{
    width: 500px;
    height: 334px;
    margin: 0px 0px 0px 910px;
}
.wozek{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 30px;

}
a{
    color:black;
    text-decoration: none;
}
.flexbox{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color:rgb(0, 0, 0)
}
.ajax{
    margin: 0px 0px 40px 40px;
    font-size: 40px;
}




}